body{
  position: relative;
  color: #40514E;
  background-color: #EAF6F6;
}
h1{
  color: #66BFBF;
  font-family: 'Fasthand', cursive;
  font-size: 5rem;
}
h2{
    color: #66BFBF;
    font-family: 'Just Another Hand', cursive;
    font-size: 3rem;
}
h3{
  font-family: 'Handlee', cursive;
}
h4{
  font-family: 'Handlee', cursive;
}
.top-container{
  position: relative;
}
.cloud1{
  position: absolute;
  left: 200px;
}
.cloud2{
  position: absolute;
}
hr {
  width: 10%;
  border: 5px dotted;
  border-style: none none dotted;
  color: grey
}
.binary-code-image{
  width: 90%;
  height: 30%;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
p{
    font-family: 'Fasthand', cursive;
}
